vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

#so that i don't kill myself
workspace.xml
*.xml
.idea/*
.idea/*xml
.idea/workspace.xml
*.lock
.idea/
.idea